1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
variable_1 = 3
print(variable_1)

3

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(variable_1))

<class 'int'>


4) Crear una variable que contenga tu nombre

In [4]:
nombre = "Agustín"
print(nombre)

Agustín

5) Crear una variable que contenga un número complejo

In [6]:
variable_2 = 2 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(variable_2)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
variable_3 = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
variable_4 = "True"
variable_5 = True
variable_4 == variable_5

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [14]:
print (type (variable_4)) 
print (type (variable_5))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
variable_6 = 187 + 1.24
print (variable_6)
type(variable_6)

188.24

float

11) Realizar una operación de suma de números complejos

In [19]:
variable_2 + 3.14j

(2+4.140000000000001j)

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
variable_3 + variable_2

(5.1416+1j)

13) Realizar una operación de multiplicación

In [21]:
3 * 4.5

13.5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [23]:
2 ** 8

256


15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [26]:
variable_8 = 27 / 4
print(variable_8)

6.75


16) De la división anterior solamente mostrar la parte entera

In [37]:
variable_8 = 27 // 4
print(variable_8)

6


17) De la división de 27 entre 4 mostrar solamente el resto

In [39]:
variable_9 = 27 % 4
print(variable_9)

3


18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [40]:
(variable_8) * 4 + variable_9

27


19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [43]:
var1 = "hola"
var2 = " wey"
var1 + var2

'hola wey'


20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [44]:
"2" == 2

False


21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [48]:
a = int("2")
b = 2

a == b

True


22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [50]:
a = float('3.8')


23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [51]:
a = 3
a -= 2
print(a)

1


24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [55]:
3 << 3

24


25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [58]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'


26) Realizar una operación válida entre valores de tipo entero y string

In [4]:
varA = "hola "
(varA + "mundo//" )* 3

'hola mundo//hola mundo//hola mundo//'